<div id="{{ oUIBlock.GetId() }}" class="ibo-tab-container">
    {% block iboTabContainer %}
        <!-- tabs -->
        <div id="tabbedContent_{$sPrefix}{$container_index}" class="light">
            <ul>
                {% for oTab in oUIBlock.GetSubBlocks() %}
                    {% if oTab.GetType() == 'ajax' %}
                        <li data-cache="{{ oTab.GetCache() }}"><a href="{{ oTab.GetURL() }}" class="tab" data-tab-id="$sTabCodeForHtml"><span>{{ oTab.GetTitle() }}</span></a></li>
                    {% elseif oTab.GetType() == 'html' %}
                        <li><a href="#tab_{{ oTab.GetId() }}" class="tab" data-tab-id="$sTabCodeForHtml"><span>{{ oTab.GetTitle() }}</span></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% for oTab in oUIBlock.GetSubBlocks() %}
                {% if oTab.GetType() == 'html' %}
                    <div id="tab_{{ oTab.GetId() }}">
                        {{ render_block(oTab, {aPage: aPage}) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- end of tabs-->
    {% endblock %}
</div>

