<div id="{{ oUIBlock.GetId() }}" class="ibo-activity-panel" data-role="ibo-activity-panel" data-object-class="{{ oUIBlock.GetObjectClass() }}" data-object-id="{{ oUIBlock.GetObjectId() }}" data-object-mode="{{ oUIBlock.GetObjectMode() }}">
	<div class="ibo-activity-panel--header">
		<div class="ibo-activity-panel--tabs-togglers">
			{% for sCaseLogAttCode, aCaseLogData in oUIBlock.GetCaseLogTabs() %}
				{% set sExtraCSSClass = (loop.index == 1) ? 'ibo-is-active' : '' %}
				<div class="ibo-activity-panel--tab-toggler ibo-activity-panel--tab-toggler-for-caselog ibo-activity-panel--tab-toggler-for-caselog-{{ loop.index }} {{ sExtraCSSClass }}"
				     data-role="ibo-activity-panel--tab-toggler"
				     data-tab-type="caselog"
				     data-caselog-attribute-code="{{ sCaseLogAttCode }}"
				     data-caselog-rank="{{ loop.index }}">
					<a href="#" class="ibo-activity-panel--tab-title" data-role="ibo-activity-panel--tab-title">
						<span class="ibo-activity-panel--tab-title-decoration" data-role="ibo-activity-panel--tab-title-decoration"></span>
						<span class="ibo-activity-panel--tab-title-text" data-role="ibo-activity-panel--tab-title-text" title="{{ aCaseLogData.title }}">{{ aCaseLogData.title }}</span>
                        <span class="ibo-activity-panel--tab-title-draft-indicator"
                              data-role="ibo-activity-panel--tab-title-draft-indicator"
                              data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Caselog:DraftIndicator:Tooltip'|dict_s }}">
                            <span class="fas fa-pen"></span>
                        </span>
					</a>
				</div>
			{% endfor %}
			{% set sExtraCSSClass = (oUIBlock.GetCaseLogTabs() is empty) ? 'ibo-is-active' : '' %}
			<div class="ibo-activity-panel--tab-toggler ibo-activity-panel--tab-toggler-for-activity {{ sExtraCSSClass }}"
			     data-role="ibo-activity-panel--tab-toggler"
			     data-tab-type="activity">
				<a href="#" class="ibo-activity-panel--tab-title" data-role="ibo-activity-panel--tab-title">
					<span class="ibo-activity-panel--tab-title-text" title="{{ 'UI:Layout:ActivityPanel:Tab:Activity:Title'|dict_s }}">{{ 'UI:Layout:ActivityPanel:Tab:Activity:Title'|dict_s }}</span>
				</a>
			</div>
			<div class="ibo-activity-panel--size-toggler" data-role="ibo-activity-panel--size-toggler">
				<a href="#" class="ibo-activity-panel--expand-icon"
				   data-role="ibo-activity-panel--expand-icon"
				   data-tooltip-content="{{ 'UI:Layout:ActivityPanel:SizeToggler:Expand:Tooltip'|dict_s }}">
					<span class="fas fa-fw fa-expand-alt"></span>
				</a>
				<a href="#" class="ibo-activity-panel--collapse-icon"
				   data-role="ibo-activity-panel--collapse-icon"
				   data-tooltip-content="{{ 'UI:Layout:ActivityPanel:SizeToggler:Collapse:Tooltip'|dict_s }}">
					<span class="fas fa-fw fa-compress-alt"></span>
				</a>
			</div>
		</div>
		<div class="ibo-activity-panel--tabs-toolbars">
			{% for sCaseLogAttCode, aCaseLogData in oUIBlock.GetCaseLogTabs() %}
				{{ include('base/layouts/activity-panel/tab-toolbar/caselog.html.twig', {oUIBlock: oUIBlock, iRank: loop.index, bIsActive: (loop.index == 1), aFilteredCaseLogsAttCodes: [sCaseLogAttCode]}) }}
			{% endfor %}
			{{ include('base/layouts/activity-panel/tab-toolbar/activity.html.twig', {oUIBlock: oUIBlock, bIsActive: (oUIBlock.GetCaseLogTabs()|length == 0)}) }}
		</div>
	</div>
	{% if oUIBlock.HasAnEditableCaseLogTab() and oUIBlock.IsCaseLogsSubmitAutonomous() %}
		<a href="#" class="ibo-activity-panel--add-caselog-entry-button" data-role="ibo-activity-panel--add-caselog-entry-button"><i class="fas fa-feather"></i></a>
	{% endif %}
	<div class="ibo-activity-panel--body">
		{% if oUIBlock.GetGroupedEntries()|length > 0 %}
			{% for aEntryGroup in oUIBlock.GetGroupedEntries() %}
				{{ include('base/layouts/activity-panel/entry-group.html.twig', {aEntryGroup: aEntryGroup}) }}
			{% endfor %}
		{% else %}
			<div class="ibo-activity-panel--body--placeholder">
				<div class="ibo-activity-panel--body--placeholder-image ibo-svg-illustration--container">
					{{ source("illustrations/undraw_reading_time.svg") }}
				</div>
				<div class="ibo-activity-panel--body--placeholder-hint">{{ 'UI:Layout:ActivityPanel:NoEntry:Placeholder:Hint'|dict_s }}</div>
			</div>
		{% endif %}
	</div>
</div>