<div id="{{ oUIBlock.GetId() }}" class="ibo-activity-panel" data-role="ibo-activity-panel" data-object-class="{{ oUIBlock.GetObjectClass() }}" data-object-id="{{ oUIBlock.GetObjectId() }}" data-object-mode="{{ oUIBlock.GetObjectMode() }}">
	<div class="ibo-activity-panel--header">
		<div class="ibo-activity-panel--tabs-togglers">
			{% for sCaseLogAttCode, aCaseLogData in oUIBlock.GetCaseLogTabs() %}
				<div class="ibo-activity-panel--tab-toggler ibo-activity-panel--tab-toggler-for-caselog ibo-activity-panel--tab-toggler-for-caselog-{{ loop.index }}" data-role="ibo-activity-panel--tab-toggler" data-tab-type="caselog" data-caselog-attribute-code="{{ sCaseLogAttCode }}" data-caselog-rank="{{ loop.index }}">
					<a href="#" class="ibo-activity-panel--tab-title" data-role="ibo-activity-panel--tab-title">
						<span class="ibo-activity-panel--tab-title-decoration"></span>
						<span class="ibo-activity-panel--tab-title-text" title="{{ aCaseLogData.title }}">{{ aCaseLogData.title }}</span>
					</a>
				</div>
			{% endfor %}
			<div class="ibo-activity-panel--tab-toggler ibo-activity-panel--tab-toggler-for-activity ibo-is-active" data-role="ibo-activity-panel--tab-toggler" data-tab-type="activity">
				<a href="#" class="ibo-activity-panel--tab-title" data-role="ibo-activity-panel--tab-title">
					<span class="ibo-activity-panel--tab-title-text" title="{{ 'UI:Layout:ActivityPanel:Tab:Activity:Title'|dict_s }}">{{ 'UI:Layout:ActivityPanel:Tab:Activity:Title'|dict_s }}</span>
				</a>
			</div>
			<div class="ibo-activity-panel--size-toggler" data-role="ibo-activity-panel--size-toggler">
				<a href="#" class="ibo-activity-panel--expand-icon"
				   data-role="ibo-activity-panel--expand-icon"
				   data-tooltip-content="{{ 'UI:Layout:ActivityPanel:SizeToggler:Expand:Tooltip'|dict_s }}">
					<span class="fas fa-fw fa-expand-alt"></span>
				</a>
				<a href="#" class="ibo-activity-panel--collapse-icon"
				   data-role="ibo-activity-panel--collapse-icon"
				   data-tooltip-content="{{ 'UI:Layout:ActivityPanel:SizeToggler:Collapse:Tooltip'|dict_s }}">
					<span class="fas fa-fw fa-compress-alt"></span>
				</a>
			</div>
		</div>
		<div class="ibo-activity-panel--tabs-toolbars">
			{% for sCaseLogAttCode, aCaseLogData in oUIBlock.GetCaseLogTabs() %}
				<div class="ibo-activity-panel--tab-toolbar ibo-activity-panel--tab-toolbar-for-caselog ibo-activity-panel--tab-toolbar-for-caselog-{{ loop.index }}" data-role="ibo-activity-panel--tab-toolbar" data-tab-type="caselog" data-caselog-attribute-code="{{ sCaseLogAttCode }}" data-caselog-rank="{{ loop.index }}">
					<div class="ibo-activity-panel--tab-toolbar-actions">
						<div class="ibo-activity-panel--tab-toolbar-left-actions">
							<a href="#" class="ibo-activity-panel--tab-toolbar-action ibo-activity-panel--tab-toolbar-action-open-all" data-role="ibo-activity-panel--caselog-open-all" data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Caselog:Toolbar:OpenAll:Tooltip'|dict_s }}">
								<span class="fas fa-book-open"></span>
							</a>
							<a href="#" class="ibo-activity-panel--tab-toolbar-action ibo-activity-panel--tab-toolbar-action-close-all" data-role="ibo-activity-panel--caselog-close-all" data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Caselog:Toolbar:CloseAll:Tooltip'|dict_s }}">
								<span class="fas fa-book"></span>
							</a>
						</div>
						<div class="ibo-activity-panel--tab-toolbar-right-actions">
							<span class="ibo-activity-panel--tab-toolbar-info ibo-activity-panel--tab-toolbar-info-authors-count" data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Caselog:Toolbar:AuthorsCount:Tooltip'|dict_s }}">
								<span class="ibo-activity-panel--tab-toolbar-info-text">{{ aCaseLogData.authors|length }}</span>
								<span class="ibo-activity-panel--tab-toolbar-info-icon fas fa-users"></span>
							</span>
							<span class="ibo-activity-panel--tab-toolbar-info ibo-activity-panel--tab-toolbar-info-messages-count" data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Caselog:Toolbar:MessagesCount:Tooltip'|dict_s }}">
								<span class="ibo-activity-panel--tab-toolbar-info-text">{{ aCaseLogData.total_messages_count }}</span>
								<span class="ibo-activity-panel--tab-toolbar-info-icon fas fa-comment-alt"></span>
							</span>
						</div>
					</div>
					{% if oUIBlock.HasCaseLogTabEntryForm(sCaseLogAttCode) %}
						<div class="ibo-activity-panel--tab-toggler-entry-form" data-role="ibo-activity-panel--tab-toggler-entry-form">
							{{ render_block(oUIBlock.GetCaseLogTabEntryForm(sCaseLogAttCode)) }}
						</div>
					{% endif %}
				</div>
			{% endfor %}
			<div class="ibo-activity-panel--tab-toolbar ibo-activity-panel--tab-toolbar-for-activity ibo-is-active" data-role="ibo-activity-panel--tab-toolbar" data-tab-type="activity">
				<div class="ibo-activity-panel--tab-toolbar-actions">
					<div class="ibo-activity-panel--tab-toolbar-middle-actions">
						{% if oUIBlock.HasCaseLogTabs() %}
							<label class="ibo-activity-panel--tab-toolbar-action"
							       data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:CaselogsFilter:Tooltip'|dict_s }}">
								<input type="checkbox" name="caselogs" data-role="ibo-activity-panel--activity-filter" data-target-entry-types="caselog" checked>
								{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:CaselogsFilter:Title'|dict_s }}
							</label>
						{% endif %}
						{% if oUIBlock.HasLifecycle() %}
							<label class="ibo-activity-panel--tab-toolbar-action"
							       data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:TransitionsFilter:Tooltip'|dict_s }}">
								<input type="checkbox" name="transitions" data-role="ibo-activity-panel--activity-filter" data-target-entry-types="transition" checked>
								{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:TransitionsFilter:Title'|dict_s }}
							</label>
						{% endif %}
						<label class="ibo-activity-panel--tab-toolbar-action"
						       data-tooltip-content="{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:EditsFilter:Tooltip'|dict_s }}">
							<input type="checkbox" name="edits" data-role="ibo-activity-panel--activity-filter" data-target-entry-types="edits" checked>
							{{ 'UI:Layout:ActivityPanel:Tab:Activity:Toolbar:EditsFilter:Title'|dict_s }}
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if oUIBlock.IsCaseLogsSubmitAutonomous() %}
		<a href="#" class="ibo-activity-panel--body--add-caselog-entry--toggler" data-role="ibo-activity-panel--body--add-caselog-entry--toggler"><i class="fas fa-feather"></i></a>
	{% endif %}
	<div class="ibo-activity-panel--body">
		{% if oUIBlock.GetGroupedEntries()|length > 0 %}
			{% for aEntryGroup in oUIBlock.GetGroupedEntries() %}
				{{ include('base/layouts/activity-panel/entry-group.html.twig', {aEntryGroup: aEntryGroup}) }}
			{% endfor %}
		{% else %}
			<div class="ibo-activity-panel--body--placeholder">
				<div class="ibo-activity-panel--body--placeholder-image ibo-svg-illustration--container">
					{{ source("illustrations/undraw_reading_time.svg") }}
				</div>
				<div class="ibo-activity-panel--body--placeholder-hint">{{ 'UI:Layout:ActivityPanel:NoEntry:Placeholder:Hint'|dict_s }}</div>
			</div>
		{% endif %}
	</div>
</div>