{# @copyright   Copyright (C) 2010-2021 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
    <div id="{{ oUIBlock.GetId() }}"
         class="{{ oUIBlock.GetBlocksInheritanceCSSClassesAsString() }} {{ oUIBlock.GetAdditionalCSSClassesAsString() }} {{ oUIBlock.GetCSSColorClass() }} {% if oUIBlock.IsHidden() %}ibo-is-hidden{% endif %} ibo-is-opened"  data-role="ibo-navigation">
            {% block iboNavigation %}
                <form id="ibo-form-navigation" class="ibo-navigation-form" method="post">
                    <input type="hidden" name="listNavigation" value="{{ oUIBlock.GetList() }}"/>
                    <input type="hidden" name="filter" value="{{ oUIBlock.GetFilter() }}"/>
                    <input type="hidden" name="back-url" value="{{ oUIBlock.GetBackUrl()|raw }}"/>
                    <div class="ibo-form-navigation--nav fas fa-angle-up" id="{{ oUIBlock.GetId() }}-back"></div>
                    {% if oUIBlock.HasPrec() %}
                        <div class="ibo-form-navigation--nav fas fa-angle-double-left" id="{{ oUIBlock.GetId() }}-first"></div>
                        <div class="ibo-form-navigation--nav fas fa-angle-left" id="{{ oUIBlock.GetId() }}-prev"></div>
                    {% else %}
                        &#160;&#160;&#160;
                    {% endif %}
                    <div class="ibo-form-navigation--total">{{ oUIBlock.GetIdx() }} / {{ oUIBlock.GetCount() }}</div>
                    {% if oUIBlock.HasNext() %}
                        <div class="ibo-form-navigation--nav fas fa-angle-right" id="{{ oUIBlock.GetId() }}-next"></div>
                        <div class="ibo-form-navigation--nav fas fa-angle-double-right" id="{{ oUIBlock.GetId() }}-last"></div>
                    {% else %}
                    &#160;&#160;&#160;
                    {% endif %}
                </form>
            {% endblock %}
    </div>