{# @copyright   Copyright (C) 2010-2020 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% extends 'base/components/title/layout.html.twig' %}

{% block iboPageTitleText %}
    <h1 class="ibo-title--for-object-details">{{ oUIBlock.GetObjectName()|raw }}</h1>
    <div class="ibo-title--subtitle">
        {% if oUIBlock.GetStatusLabel() is not empty %}
            <span class="ibo-title--status">
                <span class="ibo-title--status-dot ibo-is-state-{{ oUIBlock.GetStatusColor() }}"></span>
                <span class="ibo-title--status-label">{{ oUIBlock.GetStatusLabel() }}</span>
            </span>
        {% endif %}
        <span class="ibo-title--object-class">{{ oUIBlock.GetClassName() }}</span>
        {% for tag, tagValues in oUIBlock.GetTags() %}
            <span id="{{ tag }}" class="ibo-title--object-tags {{ tagValues.cssClasses }}" data-tooltip-content="{{ tagValues.title }}" data-tooltip-html-enabled="true"><i class="{{ tagValues.iconCssClasses }}"></i>{{ tagValues.label }}</span>
        {% endfor %}
    </div>
{% endblock %}