{# itop-portal-base/portal/templates/bricks/user-profile/layout.html.twig #}
{# User profile brick base layout #}
{% extends 'itop-portal-base/portal/templates/bricks/layout.html.twig' %}

{% block pPageBodyClass %}{{ parent() }} page_user-profile_brick{% endblock %}

{% block pMainHeaderTitle %}
	{{ oBrick.GetTitle()|dict_s }}
{% endblock %}

{% block pMainContentHolder%}
	{% if bDemoMode %}
		<div class="alert alert-warning">
			<span class="fas fa-info fa-2x" style="margin-right: 10px; vertical-align: sub;"></span>
			User profile edition is not available in demo mode.
		</div>
	{% endif %}

    {% if aTabsValues|length > 1 %}
        <ul class="nav nav-pills _tabs">
            {% for aTab in aTabsValues %}
                <li{% if sTab is defined and sTab == aTab.value %} class="active"{% endif %} data-id="{{ aTab.value }}" data-label="{{ aTab.label }}" data-item-count="{{ aTab.count }}">
                    <a href="{{ app.url_generator.generate('p_manage_brick_display_as', {'sBrickId': sBrickId, 'sDisplayMode': sDisplayMode, 'sTab': aTab.value}) }}"
                       id="btn_tab_for_{{ aTab.value }}">
                        {{ aTab.label|raw }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block pPageReadyScripts %}
	{{ parent() }}
    {% import "macros.twig" as Macro %}
    {{ Macro.BlockExtension(aPluginFormData, 'ready_script') }}
{% endblock %}

{% block pPageLiveScriptHelpers %}
    {{ parent() }}
    {% import "macros.twig" as Macro %}
    {{ Macro.BlockExtension(aPluginFormData, 'script') }}
{% endblock %}

{% block pStyleinline %}
    {{ parent() }}
    {% import "macros.twig" as Macro %}
    {{ Macro.BlockExtension(aPluginFormData, 'css') }}
{% endblock css %}