{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}

{% UIContentBlock {'container_class':'ibo-update-core'} %}

{% UITitle ForPage {'title':'iTopUpdate:UI:PageTitle'|dict_s} %}

{% UIHtml %}
    <div class="ibo-v-spacer">&nbsp;</div>
{% EndUIHtml %}

{% UIContentBlock {'container_class':'display_block display-files'} %}
{% UIFieldSet {'legend':'iTopUpdate:UI:Status'|dict_s} %}

{% UIAlert ForInformation {'title':'', 'id':'header-requirements'} %}
    <span id="can-core-update">{{ 'iTopUpdate:UI:CanCoreUpdate:Loading'|dict_s }}  <i class="ajax-spin fas fa-spinner fa-spin" aria-hidden="true"></i></span>
{% EndUIAlert %}

    {% set sVersion = 'UI:iTopVersion:Long'|dict_format(constant('ITOP_APPLICATION'), constant('ITOP_VERSION'), constant('ITOP_REVISION'), constant('ITOP_BUILD_DATE')) %}

{% UIField Small {'label':'iTopUpdate:UI:CurrentVersion'|dict_s} %}
    {{ sVersion }}
{% EndUIField %}
{% UIField Small {'label':'iTopUpdate:UI:DiskFreeSpace'|dict_s} %}
    {{ sDiskFreeSpace }}
{% EndUIField %}
{% UIField Small {'label':'iTopUpdate:UI:ItopDiskSpace'|dict_s, 'value_id':'itop-disk-space'} %}
    <i class="ajax-spin fas fa-spinner fa-spin" aria-hidden="true"></i>
{% EndUIField %}
{% UIField Small {'label':'iTopUpdate:UI:DBDiskSpace'|dict_s, 'value_id':'db-disk-space'} %}
    <i class="ajax-spin fas fa-spinner fa-spin" aria-hidden="true"></i>
{% EndUIField %}
{% UIField Small {'label':'iTopUpdate:UI:FileUploadMaxSize'|dict_s} %}
    {{ sFileUploadMaxSize }}
{% EndUIField %}

{% EndUIFieldSet %}

{% UIFieldSet {'legend':'iTopUpdate:UI:SelectUpdateFile'|dict_s} %}
{% UIForm {} %}
{% UIInput ForHidden {'name':'operation', 'value':'ConfirmUpdate'} %}
{% UIInput ForHidden {'name':'transaction_id', 'value':sTransactionId} %}

{% UIHtml %}
    <div id="header-file-size" class="header_message message_error" style="display: none">
        <div>
            <span>{{ 'iTopUpdate:Error:FileUploadMaxSizeTooSmall'|dict_s }}</span>
        </div>
        <div>
            <span>{{ 'iTopUpdate:UI:PostMaxSize'|dict_format(sPostMaxSize) }}</span>
        </div>
        <div>
            <span>{{ 'iTopUpdate:UI:UploadMaxFileSize'|dict_format(sUploadMaxSize) }}</span>
        </div>
    </div>
{% EndUIHtml %}

{% UIContentBlock {'container_class':'upload_container'} %}
{% UIInput WithLabel {'type':'file', 'id':'file', 'name':'file'} %}
{% EndUIContentBlock %}

{% UIHtml %}
    <div id="dobackup-warning" class="header_message message_info" style="display: none">{{ 'iTopUpdate:UI:DoBackup:Warning'|dict_s }}</div>
{% EndUIHtml %}

{% UIField Large {'label':'iTopUpdate:UI:DoBackup:Label'|dict_s} %}
{% UIInput Standard {'type':'checkbox', 'id':'doBackup', 'name':'doBackup', 'value':'1', 'checked':true} %}
{% EndUIField %}

{% UIField Large {'label':'iTopUpdate:UI:DoFilesArchive'|dict_s} %}
{% UIInput Standard {'type':'checkbox', 'id':'doFilesArchive', 'name':'doFilesArchive', 'value':'1', 'checked':true} %}
{% EndUIField %}

    {# </div> #}
    {# <p><input id="check-update" type="submit" value="{{ 'iTopUpdate:UI:CheckUpdate'|dict_s }}" disabled="disabled"/> <i id="submit-wait" style="display: none" class="fas fa-spinner fa-spin" aria-hidden="true"></i></p> #}
    {# </form> #}
{% EndUIForm %}

{% EndUIFieldSet %}

{% UIFieldSet {'legend':'iTopUpdate:UI:History'|dict_s} %}
{% UIDataTable ForResult {'list_id':'iboupdatehistory', 'object_set':oSet} %}
{% EndUIFieldSet %}
{% EndUIContentBlock %}


{% EndUIContentBlock %}
{% endapply %}