{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% apply spaceless %}

    {% UIContentBlock Standard {'sContainerClass':'ibo-update-core display_block display-files'} %}

        {% UIFieldSet Standard {'sLegend':'iTopUpdate:UI:Progress'|dict_s, 'sId':'installation_progress'} %}
            {% UIHtml %}
                {#  Todo 3.0 Add Progress bar UIBlock  #}
                <div id="progress_content">
                    <p class="center">
                        <span id="setup_msg">{{ 'iTopUpdate:UI:SetupMessage:Ready'|dict_s }}</span>
                    </p>
                    <div id="progress">0%</div>
                </div>
            {% EndUIHtml %}
        {% EndUIFieldSet %}

        {% UIFieldSet Standard {'sLegend':'iTopUpdate:UI:Status'|dict_s} %}
            {% UIField Large {'sId':'new_version', 'sLabel':'iTopUpdate:UI:NewVersion'|dict_s, 'ValueId':'db-disk-space', 'IsHidden':true} %}{% EndUIField %}
            {% UIAlert ForInformation {'sId':'current_version', 'IsCollapsible':false, 'IsClosable':false} %}
                {% UIContentBlock Standard {'sId':'current-version','sContainerClass':'ibo-update-core--current-version'} %}
                    {% UIHtml %}
                        {{ sCurrentVersion }}
                    {% EndUIHtml %}
                {% EndUIContentBlock %}
            {% EndUIAlert %}

            {% if bDoBackup %}
                {% UIContentBlock Standard {'sId':'do_backup_done','sContainerClass':'ibo-update-core--backup-done', 'IsHidden':true} %}
                    {% UIField Standard {'sLabel':'iTopUpdate:UI:WithDBBackup'|dict_s, 'sLayout':'large'} %}
                        {% UIAlert ForInformation {'sContent':sBackupFile} %}{% EndUIAlert %}
                    {% EndUIField %}
                {% EndUIContentBlock %}
            {% endif %}

            {% if bDoFilesArchive %}
                {% UIContentBlock Standard {'sId':'do_files_archive_done','sContainerClass':'ibo-update-core--archive-done', 'IsHidden':true} %}
                    {% UIField Large {'sLabel':''iTopUpdate:UI:WithFilesBackup'|dict_s', 'sValueHtml':''} %}{% EndUIField %}
                    {% UIAlert ForSuccess {'sContent':sItopArchive} %}{% EndUIAlert %}
                {% EndUIContentBlock %}
            {% endif %}
        {% EndUIFieldSet %}

        {% UIFieldSet Standard {'sLegend':''} %}

            {% UIAlert ForFailure {'sId':'setup_error_outer', 'sContent':'', 'IsCollapsible':false, 'IsClosable':false, 'IsHidden':true} %}
                {% UIContentBlock Standard {'sId':'setup_error','sContainerClass':'ibo-update-core--error'} %}{% EndUIContentBlock %}
                {% if bDoFilesArchive %}
                    {% UIHtml %}
                        {{ 'iTopUpdate:UI:RestoreArchive'|dict_format(sItopArchive) }}
                    {% EndUIHtml %}
                {% endif %}
                {% if bDoBackup %}
                    {% UIHtml %}
                        {{ 'iTopUpdate:UI:RestoreBackup'|dict_format(sBackupFile) }}
                    {% EndUIHtml %}
                {% endif %}
                {% UIHtml %}
                    {{ 'iTopUpdate:UI:MaintenanceModeActive'|dict_s }}
                {% EndUIHtml %}
            {% EndUIAlert %}

            {% UIContentBlock Standard {'sId':'run_setup','sContainerClass':'ibo-update-core--run-setup', 'IsHidden':true} %}
                {% UIForm Standard {'CSSClasses':'form-inline'} %}
                    {% UIInput ForHidden {'sName':'operation', 'sValue':'RunSetup'} %}
                    {% UIInput ForHidden {'sName':'authent', 'sValue':sSetupToken} %}
                    {% UIInput ForHidden {'sName':'', 'sValue':''} %}
                    {% UIButton ForPrimaryAction {'sLabel':'iTopUpdate:UI:RunSetup'|dict_s, 'sId':'run_setup', 'bIsSubmit':true, 'IsDisabled':false} %}
                {% EndUIForm %}
            {% EndUIContentBlock %}

            {% UIForm Standard {'CSSClasses':'form-inline'} %}
                {% UIButton ForPrimaryAction {'sLabel':'iTopUpdate:UI:Continue'|dict_s, 'sId':'setup_continue', 'bIsSubmit':true, 'IsDisabled':false} %}
            {% EndUIForm %}

        {% EndUIFieldSet %}

    {% EndUIContentBlock %}
{% endapply %}