{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<div class="page_header"><h1>{{ 'iTopUpdate:UI:PageTitle'|dict_s }}</h1></div>

<div class="display_block display-files">
    <fieldset id="installation_progress">
        <legend>{{ 'iTopUpdate:UI:Status'|dict_s }}</legend>

        <div id="current_version" class="header_message message_info">
            <div>
                <span id="current-version">{{ sCurrentVersion }}</span>
            </div>
        </div>

        <table style="vertical-align:top" class="one-col-details" data-mode="view">
            <tbody>
            <tr>
                <td style="vertical-align:top" class="">
                    {% if bDoBackup %}
                        <div id="do_backup_done" class="details" style="display: none;">
                            <div class="field_container field_small">
                                <div class="field_label label"><span title="">{{ 'iTopUpdate:UI:WithDBBackup'|dict_s }}</span></div>
                                <div class="field_data">
                                    <div class="field_value">{{ sBackupFile }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if bDoFilesArchive %}
                        <div id="do_files_archive_done" class="details" style="display: none;">
                            <div class="field_container field_small">
                                <div class="field_label label"><span title="">{{ 'iTopUpdate:UI:WithFilesBackup'|dict_s }}</span></div>
                                <div class="field_data">
                                    <div class="field_value">{{ sItopArchive }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

    </fieldset>

    <fieldset id="installation_progress">
        <legend>{{ 'iTopUpdate:UI:Progress'|dict_s }}</legend>

        <div id="progress_content" style="height: 100px; overflow: auto; text-align: center;">
            <p class="center">
                <span id="setup_msg">{{ 'iTopUpdate:UI:SetupMessage:Ready'|dict_s }}</span>
            </p>
            <div id="progress" style="
            margin: 5px auto;
            display:block;
            border:1px solid #000000;
            width: 280px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            ">0%</div>
        </div>
    </fieldset>

    <fieldset>
        <div id="setup_error_outer" class="header_message message_error" style="display: none;">
            <div>
                <span id="setup_error"></span>
            </div>
            {% if bDoFilesArchive %}
                <div>
                    <span>{{ 'iTopUpdate:UI:RestoreArchive'|dict_format(sItopArchive) }}</span>
                </div>
            {% endif %}
            {% if bDoBackup %}
                <div>
                    <span>{{ 'iTopUpdate:UI:RestoreBackup'|dict_format(sBackupFile) }}</span>
                </div>
            {% endif %}
        </div>

        <form enctype="multipart/form-data" method="post">
            <p><input id="setup_continue" type="submit" value="{{ 'iTopUpdate:UI:Continue'|dict_s }}" disabled/></p>
        </form>
    </fieldset>
</div>
