{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
	<div id="login-content">
		<div id="login-title">
			<h1>{{ sTitle }}</h1>
			<p><a href="{{ sUrl }}">{{ sMessage }}</a></p>
		</div>
	</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    
	sessionStorage.clear();
{% endblock %}

{% block ready_script %}
    {{ parent() }}

    // Redirect after 1s so the user has time to read the message
    setTimeout(function() { window.location.href = '{{ sUrl }}'; }, 1000);
{% endblock %}