<li class="ibo-navigation-menu--menu-node" data-menu-node-id="{{ aMenuNode.sId }}">
	{% if aMenuNode.sUrl is not empty %}
		{% set sTarget = (aMenuNode.bOpenInNewWindow == true) ? 'target="_blank"' : '' %}
		<a class="ibo-navigation-menu--menu-node-title" href="{{ aMenuNode.sUrl }}" {{ sTarget|raw }}>{{ aMenuNode.sTitle }}</a>
	{% else %}
		<span class="ibo-navigation-menu--menu-node-title">{{ aMenuNode.sTitle }}</span>
	{% endif %}
	{% if aMenuNode.aChildNodes is defined and aMenuNode.aChildNodes|length > 0 %}
		<ul>
			{% for aSubMenuNode in aMenuGroup.aSubMenuNodes %}
				{% include 'layouts/navigation-menu/menu-node.html.twig' with aSubMenuNode %}
			{% endfor %}
		</ul>
	{% endif %}
</li>