{# @copyright   Copyright (C) 2010-2021 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}

    {% if oUIBlock.bEmptySet or oUIBlock.bNotAuthorized %}
        <div class="ibo-block-list--empty-text">{{ 'UI:NoObjectToDisplay'|dict_s }}</div>
    {% endif %}

    {% if oUIBlock.bCreateNew %}
        <div class="ibo-block-list--create-action">
            <a{{ oUIBlock.sLinkTarget }} href="{{ oUIBlock.sAbsoluteUrlAppRoot }}pages/UI.php?operation=new&class={{ oUIBlock.sClass }}&{{ oUIBlock.sParams }}{{ oUIBlock.sDefault }}">
                <span class="ibo-block-list--create-icon">
                    <span class="fas fa-plus"></span>
                </span>
                <span class="ibo-block-list--create-label">{{ 'UI:ClickToCreateNew'|dict_format(oUIBlock.sClassLabel) }}</span>
            </a>
        </div>
    {% endif %}

    {% for oSubBlock in oUIBlock.GetSubBlocks() %}
        {{ render_block(oSubBlock, {aPage: aPage}) }}
    {% endfor %}

{% endapply %}