{# errors/layout.html.twig #}
{# Base error layout #}
{% extends 'itop-portal-base/portal/templates/layout.html.twig' %}

{% block pStyleinline %}
	<style>
		.well {
			margin: 50px auto;
			text-align: center;
			padding: 25px;
			min-width: 600px;
			max-width: 1000px;
		}
		h1, h2, h3, p {
			margin: 0;
		}
		p {
			font-size: 17px;
			margin-top: 25px;
		}
		p a.btn {
			margin: 0 5px;
		}

	</style>
{% endblock %}

{% block pNavigationWrapper %}
{% endblock %}

{% block pMainWrapper %}
	<div class="container">
		<div class="well">
			<h1><div class="ion ion-alert-circled"></div> {{ error_title }}</h1>
			<p>{{ error_message }}</p>
			<p>{{ 'Error:HTTP:GetHelp'|dict_format(constant('ITOP_APPLICATION_SHORT')) }}</p>
			<p>
				<a class="btn btn-default" href="#" onclick="history.back(); return false;"><span class="fas fa-arrow-left"></span> {{ 'Page:GoPreviousPage'|dict_s }}</a>
				<a class="btn btn-default" href=""><span class="fas fa-redo"></span> {{ 'Page:ReloadPage'|dict_s }}</a>
				<a class="btn btn-default" href="{{ app['url_generator'].generate('p_home') }}"><span class="fas fa-home"></span> {{ 'Page:GoPortalHome'|dict_s }}</a>
			</p>
		</div>


			</div>
{% endblock %}