{# itop-portal-base/portal/src/views/bricks/browse/layout.html.twig #}
{# Browse brick base layout #}
{% extends 'itop-portal-base/portal/src/views/bricks/layout.html.twig' %}

{% set oContactForm = forms.contact %}
{% set oPreferencesForm = forms.preferences %}
{% set oPasswordForm = forms.password %}

{% block pMainHeaderTitle %}
	{{ oBrick.GetTitle()|dict_s }}
{% endblock %}

{% block pMainContentHolder%}
	{% if bDemoMode %}
		<div class="alert alert-warning">
			<span class="fa fa-info fa-2x" style="margin-right: 10px; vertical-align: sub;"></span>
			User profile edition is not available in demo mode.
		</div>
	{% endif %}
	
	<div id="user-profile-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ 'Brick:Portal:UserProfile:PersonalInformations:Title'|dict_s }}</h3>
					</div>
					<div class="panel-body">
						<form id="{{ oContactForm.id }}" class="" method="POST" action="{{ oContactForm.renderer.GetEndpoint()|raw }}">
							<input type="hidden" name="transaction_id" value="{{ oContactForm.transaction_id }}" />
							<div class="form_alerts">
								<div class="alert alert-success" role="alert" style="display: none;"></div>
								<div class="alert alert-warning" role="alert" style="display: none;"></div>
								<div class="alert alert-error alert-danger" role="alert" style="display: none;"></div>
							</div>
							<div class="form_fields">
								{{ oContactForm.renderer.GetBaseLayout()|raw }}
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Photo</h3>
					</div>
					<div class="panel-body" style="position: relative;">
						<div class="text-center">
							<img src="{{ sUserPhotoUrl }}" style="max-width: 175px;"/>
							<!--<input type="file" id="xx" name="xx" />-->
							<div style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background-color: #000000; opacity: 0.5;"></div>
							<div style="position: absolute; bottom: 0.5em; left: 0px; width: 100%; color: #FFFFFF; font-size: 1.5em; font-style: italic;">Picture edition not available in beta</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ 'Class:appUserPreferences/Attribute:preferences'|dict_s }}</h3>
					</div>
					<div class="panel-body">
						<form id="{{ oPreferencesForm.id }}" class="" method="POST" action="{{ oPreferencesForm.renderer.GetEndpoint()|raw }}">
							<div class="form_alerts">
								<div class="alert alert-success" role="alert" style="display: none;"></div>
								<div class="alert alert-warning" role="alert" style="display: none;"></div>
								<div class="alert alert-error alert-danger" role="alert" style="display: none;"></div>
							</div>
							<div class="form_fields">
								{{ oPreferencesForm.renderer.GetBaseLayout()|raw }}
							</div>
						</form>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{ 'Brick:Portal:UserProfile:Password:Title'|dict_s }}</h3>
					</div>
					<div class="panel-body">
						{% if oPasswordForm is not null %}
							<form id="{{ oPasswordForm.id }}" class="" method="POST" action="{{ oPasswordForm.renderer.GetEndpoint()|raw }}" autocomplete="off">
								<div class="form_alerts">
									<div class="alert alert-success" role="alert" style="display: none;"></div>
									<div class="alert alert-warning" role="alert" style="display: none;"></div>
									<div class="alert alert-error alert-danger" role="alert" style="display: none;"></div>
								</div>
								<div class="form_fields">
									{{ oPasswordForm.renderer.GetBaseLayout()|raw }}
								</div>
							</form>
						{% else %}
							{{ 'Brick:Portal:UserProfile:Password:CantChangeContactAdministrator'|dict_s }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>						
		<div class="form_buttons">
			<div class="form_btn_regular">
				{% if sFormMode == constant('\\Combodo\\iTop\\Portal\\Controller\\ObjectController::ENUM_MODE_EDIT') %}
					<input class="btn btn-primary form_btn_submit" type="submit" value="{{ 'Portal:Button:Submit'|dict_s }}">
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block pPageReadyScripts %}
	{{ parent() }}
	
	// Personal informations form
	var oContactFormFieldSet = $('#{{ oContactForm.id }} > .form_fields').field_set({{ oContactForm.fieldset|json_encode()|raw }});
	$('#{{ oContactForm.id }}').portal_form_handler({
		formmanager_class: "{{ oContactForm.formmanager_class|escape('js') }}",
		formmanager_data: {{ oContactForm.formmanager_data|json_encode()|raw }},
		field_set: oContactFormFieldSet,
		endpoint: "{{ oContactForm.renderer.GetEndpoint()|raw }}"
	});
	
	// Preferences form
	var oPreferencesFormFieldSet = $('#{{ oPreferencesForm.id }} > .form_fields').field_set({{ oPreferencesForm.fieldset|json_encode()|raw }});
	$('#{{ oPreferencesForm.id }}').portal_form_handler({
		formmanager_class: "{{ oPreferencesForm.formmanager_class|escape('js') }}",
		formmanager_data: {{ oPreferencesForm.formmanager_data|json_encode()|raw }},
		field_set: oPreferencesFormFieldSet,
		endpoint: "{{ oPreferencesForm.renderer.GetEndpoint()|raw }}"
	});
	
	{% if oPasswordForm is not null %}
		// Password form
		var oPasswordFormFieldSet = $('#{{ oPasswordForm.id }} > .form_fields').field_set({{ oPasswordForm.fieldset|json_encode()|raw }});
		$('#{{ oPasswordForm.id }}').portal_form_handler({
			formmanager_class: "{{ oPasswordForm.formmanager_class|escape('js') }}",
			formmanager_data: {{ oPasswordForm.formmanager_data|json_encode()|raw }},
			field_set: oPasswordFormFieldSet,
			endpoint: "{{ oPasswordForm.renderer.GetEndpoint()|raw }}"
		});
	{% endif %}
	
	// Submit button
	$('#user-profile-wrapper .form_buttons .form_btn_submit').off('click').on('click', function(oEvent){
		oEvent.preventDefault();
		
		// Resetting feedback
		$('#user-profile-wrapper .form_alerts .alert').hide();
		$('#user-profile-wrapper .form_alerts .alert > p').remove();
		$('#user-profile-wrapper .form_field').removeClass('has-error');
		$('#user-profile-wrapper .form_field .help-block > p').remove();
		
		// Submiting contact form through AJAX
		//if($('#{{ oContactForm.id }} .field_set').field_set('hasTouchedFields'))
		//{
			$('#{{ oContactForm.id }}').portal_form_handler('submit', oEvent);
		//}
		
		// Submiting preferences form through AJAX
		//if($('#{{ oPreferencesForm.id }} .field_set').field_set('hasTouchedFields'))
		//{
			$('#{{ oPreferencesForm.id }}').portal_form_handler('submit', oEvent);
		//}
		
		{% if oPasswordForm is not null %}
			// Submiting password form through AJAX
			// Only if fields are filled
			$('#{{ oPasswordForm.id }} :password').each(function(iIndex, oElem){
				if($(oElem).val() !== '')
				{
					$('#{{ oPasswordForm.id }}').portal_form_handler('submit', oEvent);
					return false;
				}
			});
		{% endif %}
	});
{% endblock %}