{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<input type="hidden" name="attr_{{ oUIBlock.GetRef() }}" value="">

{% set columns = oUIBlock.GetColumns() %}
<table id="{{ oUIBlock.GetId() }}" width="100%" class="{{ oUIBlock.GetBlocksInheritanceCSSClassesAsString() }} {{ oUIBlock.GetAdditionalCSSClassesAsString() }} listResults{% if oUIBlock.IsHidden() %} ibo-is-hidden{% endif %}" data-role="ibo-datatable" data-status="loading">
    <thead>
    <tr>
        {% for column in columns %}
            <th class="ibo-datatable-header" title="{{ column.description }}">{{ column.label|raw }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for oRowBlock in oUIBlock.GetRows() %}
        {{ render_block(oRowBlock, {aPage: aPage}) }}
    {% endfor %}
    </tbody>
</table>

{% if oUIBlock.HasRowActions() %}
    {{ render_block(oUIBlock.GetRowActionsTemplate()) }}
{% endif %}