{# @copyright   Copyright (C) 2010-2021 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<input type="hidden" name="attr_{{ oUIBlock.GetRef() }}" value="">

{% set columns = oUIBlock.GetColumns() %}
<table id="{{ oUIBlock.GetId() }}" class="{{ oUIBlock.GetBlocksInheritanceCSSClassesAsString() }} {{ oUIBlock.GetAdditionalCSSClassesAsString() }} listResults{% if oUIBlock.IsHidden() %} ibo-is-hidden{% endif %}" data-role="ibo-datatable">
    <thead>
    <tr>
        {% for column in columns %}
            <th class="ibo-datatable-header" title="{{ column.description }}">{{ column.label|raw }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for oSubBlock in oUIBlock.GetRows() %}
        {{ render_block(oSubBlock, {aPage: aPage}) }}
    {% endfor %}
    </tbody>
</table>