{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}
    <div class="ibo-dashlet-badge--body{% if oUIBlock.IsHidden() %} ibo-is-hidden{% endif %}" id="{{ oUIBlock.GetId() }}"
         data-role="ibo-dashlet-badge--body"
            {% if oUIBlock.HasClassDescription() %}
                {# Display both class name and description as the name could be truncated if too long #}
                data-tooltip-content="{{ '<div class="ibo-dashlet-badge--body--tooltip-title">'|escape }}{{ oUIBlock.GetClassLabel() }}{{ '</div><div class="ibo-dashlet-badge--body--tooltip-description">'|escape }}{{ oUIBlock.GetClassDescription() }}{{ '</div>'|escape }}"
                data-tooltip-html-enabled="true"
            {% else %}
                {# Display only class name as it could be truncated if too long #}
                data-tooltip-content="{{ oUIBlock.GetClassLabel() }}"
            {% endif %}
         {# Delay display to avoid having all tooltips appearing when mouse is just passing through the tabs #}
         data-tooltip-show-delay="300">
        <div class="ibo-dashlet-badge--icon-container">
            {# Mind the empty "alt" attribute https://www.w3.org/WAI/tutorials/images/decorative/ #}
            <img class="ibo-dashlet-badge--icon" src="{{ oUIBlock.GetClassIconUrl() }}" alt="">
        </div>
        <div class="ibo-dashlet-badge--actions">
            <a class="ibo-dashlet-badge--action-list" href="{{ oUIBlock.GetHyperlink() }}" data-role="ibo-dashlet-badge--action-list">
                <span class="ibo-dashlet-badge--action-list-count">{{ oUIBlock.GetCount() }}</span>
                <span class="ibo-dashlet-badge--action-list-label">{{ oUIBlock.GetClassLabel() }}</span>
            </a>
            {% if oUIBlock.GetCreateActionUrl() is not empty %}
                <a class="ibo-dashlet-badge--action-create" href="{{ oUIBlock.GetCreateActionUrl() }}">
                    <span class="ibo-dashlet-badge--action-create-icon fas fa-plus"></span>
                    <span class="ibo-dashlet-badge--action-create-label">{{ oUIBlock.GetCreateActionLabel() }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endapply %}