{# @copyright   Copyright (C) 2010-2022 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% UIContentBlock Standard {AddCSSClasses:["ibo-oauth-wizard"]} %}

    {% UIPanel Neutral {sTitle:'UI:OAuth:Wizard:Form:Panel:Title'|dict_s, AddCSSClasses:['ibo-oauth-wizard']} %}
        {% UIContentBlock Standard {AddCSSClasses:["ibo-oauth-wizard--form--container"]} %}
            {% UIContentBlock Standard {sId:'select_layout'} %}
                {% set sIsChecked = 'checked' %}
                {% for aSelect in aProviders %}
                    <input type="radio" name="provider" {{ sIsChecked }} value="{{ aSelect.name }}" id="layout_{{ aSelect.name }}" data-color1="{{ aSelect.colors.0 }}" data-color2="{{ aSelect.colors.1 }}" data-color3="{{ aSelect.colors.2 }}" data-color4="{{ aSelect.colors.3 }}">
                    <label for="layout_{{ aSelect.name }}">
                        <img src="{{ aSelect.icon }}" alt="{{ aSelect.name }}" class="ibo-dashboard--properties--icon" data-role="ibo-dashboard--properties--icon"/>
                    </label>

                    {% set sIsChecked = '' %}
                {% endfor %}
            {% EndUIContentBlock %}
        {% EndUIContentBlock %}

        {% set aCSSClasses = ['ibo-oauth-wizard--form'] %}
        {% for aSelect in aProviders %}
            {% set aCSSClasses = aCSSClasses|merge(['ibo-oauth-wizard--form-' ~ aSelect.name]) %}
        {% endfor %}
        {% UIForm Standard {AddCSSClasses:aCSSClasses} %}
            {% UIInput ForHidden {sName:'url', sValue:''} %}
            {% for sName, aInput in aInputs %}
                {% UIInput ForInputWithLabel {sLabel:aInput.label, sInputName:sName, sInputValue:aInput.value, sInputId:"wizard_input_"~sName, sInputType:aInput.type} %}
            {% endfor %}
            {% UIButton ForPrimaryAction {sLabel:'UI:OAuth:Wizard:Form:Button:Submit:Label'|dict_s, sName:'value', sValue:'value', bIsSubmit:true, sId:'value', AddCSSClasses:["ibo-oauth-wizard--form--submit"]} %}
        {% EndUIForm %}
    {% EndUIPanel %}


    {% for sTemplate in aAdditionalBlocks %}
        {% include sTemplate %}
    {% endfor %}

{% EndUIContentBlock %}
