{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}
    <div id="{{ oUIBlock.GetId() }}" class="ibo-spinner ibo-is-{{ oUIBlock.GetSize() }}
{% if oUIBlock.IsHidden() %}ibo-is-hidden{% endif %} 
{{ oUIBlock.GetBlocksInheritanceCSSClassesAsString() }} 
{{ oUIBlock.GetAdditionalCSSClassesAsString() }}"
     data-role="ibo-spinner">
        <i class="ibo-spinner--icon fas fa-sync-alt fa-spin" aria-hidden="true"></i>
        {% if oUIBlock.HasDescription() %}
            <div class="ibo-spinner--description"> {{ oUIBlock.GetDescription() }} </div>
        {% endif %}
    </div>
{% endapply %}