{% for oSubBlock in oUIBlock.GetSubBlocks() %}{{ render_block(oSubBlock, {aPage: aPage}) }}{% endfor %}
{% if oUIBlock.GetOptions()["select_mode"] is defined %}
	<input type="hidden" name="selectionMode" value="positive"/>
	{% if oUIBlock.GetAjaxData()["extra_params"] is not empty %}
		<input type="hidden" name="extra_params" value="{{ oUIBlock.GetAjaxData()["extra_params"] }}"/>
	{% endif %}
	{% if oUIBlock.GetAjaxData()["filter"] is not empty %}
		<input type="hidden" name="filter" value="{{ oUIBlock.GetAjaxData()["filter"] }}"/>
	{% endif %}
{% endif %}

<table id="{{ oUIBlock.GetId() }}" width="100%" class="{{ oUIBlock.GetBlockCode() }}">
	<thead>
	{% if oUIBlock.GetOptions()["select_mode"] is defined %}
		<th></th>
	{% endif %}
	{% for aColumn in oUIBlock.GetDisplayColumns() %}
		<th class="ibo-datatable-header" {% if aColumn["description"] is not empty %}title="{{ aColumn["description"] }}"{% endif %}>{{ aColumn["attribute_label"] }} </th>
	{% endfor %}
	</thead>
</table>
