{# itop-portal-dashlet-basic/tile.html.twig #}
{# Image brick tile layout #}

<div class="col-xs-12 col-sm-{{ oBrick.GetWidth }}">
    {% block pTileWrapper %}
        <a href="{{ app.url_generator.generate('p_manage_brick_display_as', {'sBrickId': sBrickId, 'sDisplayMode': oBrick.GetDefaultDisplayMode}) }}{% if app['combodo.portal.instance.routes'][oBrick.GetRouteName]['hash'] is defined %}#{{ app['combodo.portal.instance.routes'][oBrick.GetRouteName]['hash'] }}{% endif %}"
        {% if app['combodo.portal.instance.routes'][oBrick.GetRouteName]['navigation_menu_attr'] is defined %}{% for key, value in app['combodo.portal.instance.routes'][oBrick.GetRouteName]['navigation_menu_attr'] %} {{ key }}="{{ value }}"{% endfor %}{% endif %}
        {% if oBrick.GetModal %}data-toggle="modal" data-target="#modal-for-all"{% endif %}
        class="tile tile_chart{# vertical-center#}"
        id="brick-{{ oBrick.GetId }}"
        data-brick-id="{{ oBrick.GetId }}">
        <div>
            <div class="tile_title"><span class="icon fas fa-{{ oBrick.GetDecorationCssClass }}"></span> {{ oBrick.GetTitle()|dict_s }}
                ({{ iCount }})</span> </div>
            {% include 'itop-portal-base/portal/templates/bricks/manage/mode-' ~ oBrick.GetTileMode ~ '.html.twig' with {'oBrick': oBrick, 'aColumns': aColumns, 'aNames': aNames, 'aUrls': aUrls, 'aDisplayValues': aDisplayValues} %}
        </div>
        </a>
    {% endblock %}
</div>