{# @copyright   Copyright (C) 2010-2020 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
<div id="{{ oUIBlock.GetId() }}" class="ibo-tab-container" data-role="ibo-tab-container">
    {% block iboTabContainer %}
        <ul class="ibo-tab-container--tabs-list" data-role="ibo-tab-container--tabs-list">
            {% block iboTabContainerTabsList %}
                {% for oTab in oUIBlock.GetSubBlocks() %}
                    {% block iboTabContainerTab %}
                        {% if oTab.GetType() == constant('TabManager::ENUM_TAB_TYPE_AJAX') %}
                            <li class="ibo-tab-container--tab-header" data-role="ibo-tab-container--tab-header" data-tab-id="tab_{{ loop.index }}" data-tab-type="{{ oTab.GetType() }}" data-cache="{{ oTab.GetCache() }}">
                                <a href="{{ oTab.GetUrl() }}" class="ibo-tab-container--tab-toggler" data-role="ibo-tab-container--tab-toggler"><span>{{ oTab.GetTitle() }}</span></a>
                            </li>
                        {% elseif oTab.GetType() == constant('TabManager::ENUM_TAB_TYPE_HTML') %}
                            <li class="ibo-tab-container--tab-header" data-role="ibo-tab-container--tab-header" data-tab-id="tab_{{ loop.index }}" data-tab-type="{{ oTab.GetType() }}">
                                <a href="#tab_{{ loop.index }}" class="ibo-tab-container--tab-toggler" data-role="ibo-tab-container--tab-toggler"><span>{{ oTab.GetTitle() }}</span></a>
                            </li>
                        {% endif %}
                    {% endblock %}
                {% endfor %}
                <li class="ibo-tab-container--extra-tabs-container ibo-tab-container--tab-header" data-role="ibo-tab-container--extra-tabs-container">
                    <a href="#" class="ibo-tab-container--extra-tabs-list-toggler" data-role="ibo-tab-container--extra-tabs-list-toggler"><span class="fas fa-ellipsis-v"></span></a>
                    <div class="ibo-tab-container--extra-tabs-list ibo-is-hidden" data-role="ibo-tab-container--extra-tabs-list">
                        {% for oTab in oUIBlock.GetSubBlocks() %}
                            <a href="#tab_{{ loop.index }}" class="ibo-tab-container--extra-tab-toggler" data-role="ibo-tab-container--extra-tab-toggler"><span>{{ oTab.GetTitle() }}</span></a>
                        {% endfor %}
                    </div>
                </li>
            {% endblock %}
        </ul>
        {% block iboTabContainerTabsContainers %}
            {% for oTab in oUIBlock.GetSubBlocks() %}
                {% if oTab.GetType() == constant('TabManager::ENUM_TAB_TYPE_HTML') %}
                    <div id="tab_{{ loop.index }}" class="ibo-tab-container--tab-container">
                        {{ render_block(oTab, {aPage: aPage}) }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endblock %}
</div>

