<button id="{{ oUIBlock.GetId() }}"
        class="ibo-button ibo-is-{{ oUIBlock.GetActionType() }} ibo-is-{{ oUIBlock.GetColor() }} {{ oUIBlock.GetAdditionalCSSClass() }}"
        type="{{ oUIBlock.GetType() }}"
        name="{{ oUIBlock.GetName() }}"
        value="{{ oUIBlock.GetValue() }}"
        {% if oUIBlock.IsDisabled() is same as(true) %} disabled {% endif %}
>
    {% if oUIBlock.GetIconClass() is not empty %}
        <span class="ibo-button--icon {{ oUIBlock.GetIconClass() }}"></span>
    {% endif %}
    {% if oUIBlock.GetLabel() is not empty %}
        <span class="ibo-button--label">{{ oUIBlock.GetLabel() }}</span>
    {% endif %}
</button>