<button id="{{ oUIBlock.GetId() }}" class="ibo-button ibo-is-{{ oUIBlock.ActionType}} ibo-is-{{ oUIBlock.Color }}" type="{{ oUIBlock.Type }}" name="{{ oUIBlock.Name }}" value="{{ oUIBlock.Value }}" >
    <span class="ibo-button-icon {{ oUIBlock.IconClass }}"></span>
    {{ oUIBlock.Label }}
</button>