{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
	<div id="login-content">
		<h1>{{ 'UI:Login:ChangeYourPassword'|dict_s }}</h1>
		{% if bFailedLogin %}
			{% if sIssue is not null %}
				<p class="hilite">{{ sIssue|raw }}</p>
			{% else %}
				<p class="hilite">{{ 'UI:Login:IncorrectOldPassword'|dict_s }}</p>
			{% endif %}
		{% endif %}
		<form method="post">
			<div id="login-form-content">
				<div id="login-input">
					<div>
						<label for="old_pwd">{{ 'UI:Login:OldPasswordPrompt'|dict_s }}:</label>
						<input type="password" id="old_pwd" name="old_pwd" value="" />
					</div>
					<div>
						<label for="new_pwd">{{ 'UI:Login:NewPasswordPrompt'|dict_s }}:</label>
						<input type="password" id="new_pwd" name="new_pwd" value="" />
						<span class="message"></span>
					</div>
					<div>
						<label for="retype_new_pwd">{{ 'UI:Login:RetypeNewPasswordPrompt'|dict_s }}:</label>
						<input type="password" id="retype_new_pwd" name="retype_new_pwd" value="" />
						<span class="message"></span>
					</div>
				</div>
				<div id="login-submit" class="changepwd-submit">
					<div>
						<input class="login-submit-primary" type="submit" onClick="return DoCheckPwd();" value="{{ 'UI:Button:ChangePassword'|dict_s }}" />
						<span class="message"></span>

						<input class="login-submit-secondary" type="button" onClick="GoBack();" value="{{ 'UI:Button:Cancel'|dict_s }}" />
					</div>
				</div>
			<input type="hidden" name="loginop" value="do_change_pwd" />
			</div>
		</form>
		</div>

	<style type="text/css">
	#login-input .invalid input{
		border:1px solid red;
		background-color: #FFD0D0;
	}


	#login-input .invalid .message{
		border-left: 1px solid red;
		background-color: #FFD0D0;
		display: inline-block;
		padding: 5px;
	}

	#login-submit.invalid .message {
		border-left: 1px solid #9e510f;
		background-color: #9e510f;
		display: inline-block;
		padding: 5px;
	}
	#login-submit.invalid input[type="submit"] {
		/*border: 1px solid red;*/
		/*background-color: red;*/
		/*display: inline-block;*/
		/*padding: 5px;*/
		color: rgb(247, 125, 25);
	}

	</style>
{% endblock %}

{% block script %}
	{% include 'changepwdform.js.twig' %}
{% endblock script %}
