{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
	<div id="login">
		<h1>{{ 'UI:Login:ForgotPwdForm'|dict_s }}</h1>
		<p>{{ 'UI:Login:ForgotPwdForm+'|dict_s }}</p>
		{% if bFailedToReset %}
			<p class="hilite">{{ 'UI:Login:ResetPwdFailed'|dict_format(sFailureReason) }}</p>
		{% endif %}
		<form method="post">
			<table>
				<tr><td colspan="2" class="center"><label for="user">{{ 'UI:Login:UserNamePrompt'|dict_s }}:</label><input id="user" type="text" name="auth_user" value="{{ sAuthUser }}" /></td></tr>
				<tr><td colspan="2" class="center v-spacer"><span class="btn_border"><input type="button" onClick="window.close();" value="{{ 'UI:Button:Cancel'|dict_s }}" /></span>&nbsp;&nbsp;<span class="btn_border"><input type="submit" value="{{ 'UI:Login:ResetPassword'|dict_s }}" /></span></td></tr>
			</table>
			<input type="hidden" name="loginop" value="forgot_pwd_go" />
		</form>
	</div>
{% endblock %}


{% block ready_script %}
	{% include 'forgotpwdform.ready.js.twig' %}
{% endblock ready_script %}
