{# @copyright   Copyright (C) 2010-2019 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% extends "base.html.twig" %}

{% block login_content %}
	<div id="login">
		<h1>{{ 'UI:ResetPwd-Title'|dict_s }}</h1>
		{% if bNoUser %}
			<p>{{ 'UI:ResetPwd-Error-WrongLogin'|dict_format(sAuthUser) }}</p>
		{% elseif bBadToken %}
			<p>{{ 'UI:ResetPwd-Error-InvalidToken'|dict_s }}</p>
		{% else %}
			<p>{{ 'UI:ResetPwd-Error-EnterPassword'|dict_format(sUserName) }}</p>
			<form method="post">
				<table>
					<tr><td style="text-align:right"><label for="new_pwd">{{ 'UI:Login:NewPasswordPrompt'|dict_s }}:</label></td><td style="text-align:left"><input type="password" id="new_pwd" name="new_pwd" value="" /></td></tr>
					<tr><td style="text-align:right"><label for="retype_new_pwd">{{ 'UI:Login:RetypeNewPasswordPrompt'|dict_s }}:</label></td><td style="text-align:left"><input type="password" id="retype_new_pwd" name="retype_new_pwd" value="" /></td></tr>
					<tr><td colspan="2" class="center v-spacer"><span class="btn_border"><input type="submit" onClick="return DoCheckPwd();" value="{{ 'UI:Button:ChangePassword'|dict_s }}" /></span></td></tr>
				</table>
				<input type="hidden" name="loginop" value="do_reset_pwd" />
				<input type="hidden" name="auth_user" value="{{ sAuthUser }}" />
				<input type="hidden" name="token" value="{{ sToken }}" />
			</form>
		{% endif %}
	</div
{% endblock %}

{% block script %}
	{% include 'resetpwdform.js.twig' %}
{% endblock script %}
