<button id="{{ oUIBlock.GetId() }}"
        class="ibo-button ibo-is-{{ oUIBlock.GetActionType() }} ibo-is-{{ oUIBlock.GetColor() }} {{ oUIBlock.GetAdditionalCSSClassesAsString() }}{% if oUIBlock.IsHidden() %} ibo-is-hidden{% endif %}"
        {% if oUIBlock.GetDataAttributes() %}
                {% for sName, sValue in oUIBlock.GetDataAttributes() %}
                        data-{{ sName }}="{{ sValue }}"
                {% endfor %}
        {% endif %}
        {% if oUIBlock.GetTooltip() is not empty %} data-tooltip-content="{{ oUIBlock.GetTooltip() }}" {% else %} title="{{ oUIBlock.GetLabel() }}" {% endif %}
>
    {% if oUIBlock.GetIconClass() is not empty %}
        <span class="ibo-button--icon {{ oUIBlock.GetIconClass() }}"></span>
    {% endif %}
    {% if oUIBlock.GetLabel() is not empty %}
        <span class="ibo-button--label">{{ oUIBlock.GetLabel() }}</span>
    {% endif %}
</button>