<a class="ibo-navigation-menu--menu-group" data-role="ibo-navigation-menu--menu-group" data-menu-group-id="{{ aMenuGroup.sId }}" href="#">
	<span class="ibo-navigation-menu--menu-group-icon fa-fw {{ aMenuGroup.sIconCssClasses }}" data-tooltip-content="{{ aMenuGroup.sTitle }}" data-tooltip-placement="right" data-tooltip-distance-offset="25">{% if aMenuGroup.sIconCssClasses is empty %}{{ aMenuGroup.sInitials }}{% endif %}</span>
	<span class="ibo-navigation-menu--menu-group-title">{{ aMenuGroup.sTitle }}</span>
</a>