{% use "bootstrap_5_layout.html.twig" %}

{%- block form_label -%}
    {{- parent() -}}

    {% if not compound %}
    <div class="form-type-pictograms">

        {% if form.vars.required %}
            <i class="fas fa-asterisk" title="required"></i>
        {% endif %}

        {% if form.vars.attr['data-widget'] is defined %}
            <i class="fas fa-plug widget" title="{{ form.vars.attr['data-widget'] }}"></i>
        {% endif %}

        {% if form.vars.attr['data-pattern'] is defined %}
            <i class="fa-solid fa-i-cursor pattern" title="pattern: {{ form.vars.attr['data-pattern'] }}"></i>
        {% endif %}

        {% if form.vars.attr['data-ajax-query-type'] is defined and form.vars.attr['data-ajax-query-type'] == 'AJAX' %}
            <span class="ajax-query-type">AJAX</span>
        {% endif %}

        {% if form.vars.attr['data-ajax-query-type'] is defined and form.vars.attr['data-ajax-query-type'] == 'OQL' %}
            <span class="ajax-query-type">OQL</span>
        {% endif %}

    </div>
    {% endif %}

{%- endblock form_label -%}

{%- block row_row -%}
    {{ form_widget(form, {'attr' : {'class' : attr.class|default('') ~ ' form-layout-row'}}) }}
{%- endblock row_row -%}

{%- block column_row -%}
    {{ form_widget(form, {'attr' : {'class' : attr.class|default('') ~ ' form-layout-column'}}) }}
{%- endblock column_row -%}

{%- block fieldset_row -%}
    {{ form_row(form, {'attr' : {'class' : attr.class|default('') ~ ' form-compound-fieldset'}}) }}
{%- endblock fieldset_row -%}
