{# @copyright   Copyright (C) 2010-2024 Combodo SAS #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% apply spaceless %}
<div id="{{ oUIBlock.GetId() }}" class="{{ oUIBlock.GetBlocksInheritanceCSSClassesAsString() }} {{ oUIBlock.GetAdditionalCSSClassesAsString() }}" data-role="ibo-medallion-icon">
    {% if oUIBlock.GetImageUrl() != '' %}
        <img class="ibo-medallion-icon--image" src="{{ oUIBlock.GetImageUrl() }}" />
    {% endif %}
    {% if oUIBlock.GetIconClass() != '' %}
        <i class="ibo-medallion-icon--image {{ oUIBlock.GetIconClass() }}"></i>
    {% endif %}
    {% if oUIBlock.GetDescription() != '' %}
        <div class="ibo-medallion-icon--description">{{ oUIBlock.GetDescription() }}</div>
    {% endif %}
</div>
{% endapply %}